version: "3"
services:
  engecopi_promo:
    image: tomcat:8.5
    container_name: eng_promo
    ports:
      - "8030:8080"
    environment:
      TZ: "America/Fortaleza"
      EBEAN_PROPS: /etc/ebean.properties
    volumes:
      - ./build/libs/producao-1.0.war:/usr/local/tomcat/webapps/engPromocao.war
      - ./ebean.properties:/etc/ebean.properties
    restart: always
    networks:
      rede_promo:
        ipv4_address: 172.130.1.1
networks:
  rede_promo:
    ipam:
      driver: default
      config:
        - subnet: 172.130.0.0/16
